.foodComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.foodComponent-annotation {
  max-width: 50%;
}

.foodComponent-annotation p {
  margin: 10px 0;
  line-height: 1.6;
}
.first {
  font-weight: 600;
  font-size: 40px;
}
.learn_more {
  background-color: rgb(234, 181, 97) !important;
}
.foodComponent-photo {
  max-width: 40%;
  overflow: hidden;
  border-radius: 8px;
}

.foodComponent-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .foodComponent {
    flex-direction: column;
    align-items: center;
  }

  .foodComponent-annotation {
    max-width: 100%;
    text-align: center;
  }

  .foodComponent-photo {
    max-width: 100%;
    margin-top: 20px;
  }
}
