.clientContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  color: rgba(128, 96, 68, 1);
}

.block {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #4caf50;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px); /* Ширина блока 25% минус отступы */
  box-sizing: border-box;
}

.block img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .block {
    flex: 1 1 calc(50% - 20px); /* Ширина блока 50% минус отступы */
  }
}

@media (max-width: 400px) {
  .block {
    flex: 1 1 100%; /* Каждый блок занимает 100% ширины */
  }
}
